* {
    margin:0;
    padding:0;
}

body{
    background-color: beige;
}

#grille {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.present, #sapin{
    display: flex;
    justify-content: center;
}

.present{
    cursor: pointer;
    z-index: 0;
}

#sapin {
    grid-column: 3/5;
    grid-row: span 3;
}

#one {
    grid-column: 1/2;
    grid-row: 2/3;
}

#two {
    grid-column: 2/3;
    grid-row: 3/4;
}

#three {
    grid-column: 5/6;
    grid-row: 3/4;
}

#four {
    grid-column: 6/7;
    grid-row: 2/3;
}

img{
    height: 100%;
    width: 100%;
}

#popup_screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

#popup{
    padding: 30vh 35vw;
    border: 1px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    z-index: 1;
}

.animation {
    animation: jump-shaked 0.8s;
}

@keyframes jump-shaked {
    0%{
        transform: translateY(0);
    }
    
    10%{
        transform: translateY(-15vh);
    }

    40%{
        transform: translateY(-10vh) rotate(20deg);
    }

    50%{
        transform: translateY(-10vh) rotate(0deg);
    }

    60%{
        transform: translateY(-10vh) rotate(-20deg);
    }

    70%{
        transform: translateY(-10vh) rotate(0deg);
    }

    80%{
        transform: translateY(-5vh) rotate(20deg);
    }

    90%{
        transform: translateY(0vh) rotate(0deg);
    }

    100%{
        transform: translateY(0);
    }
}


/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */
