* {
    margin:0;
    padding:0;
}

body{
    background-color: rgb(230, 230, 193);
    margin-top: auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#snow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#musique{
    position: absolute;
    inline-size: min-content;
    font-size: xxx-large;
    cursor: pointer;
}

#musique > div {
    position: absolute;
    inline-size: min-content;
    font-size: xxx-large;
}

#grille {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#popup_screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

#popup_header{
    width: 100%;
    grid-area: header;
    display:grid;
    grid-template-columns: 4fr 1fr;
}

button{
    height: 100%;
    width: 100%;
    color: gray;
    background-color:transparent;
    border: none;
    font: bold;
    cursor: pointer;
    grid-column: 2/3;
}

button:hover{
    background-color: lightgray;
    border-radius: 0 25px 0 25px;
}

button:active{
    background-color: red;
    border-radius: 0 25px 0 25px;
}

#popup{
    width: 50vw;
    height: 50vh;
    border: 1px solid;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    display: grid;
    grid-template-areas: 
    "header header header"
    ". . ."
    ". content ."
    ". content ."
    ". . . "
    ". . .";
    z-index: 1;
}

#popup_content{
    grid-area: content;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#password, #submit, #text{
    grid-row: span 1;
}

.present, #sapin{
    display: flex;
    justify-content: center;
}

.present{
    cursor: pointer;
    z-index: 0;
}

#sapin {
    grid-column: 3/5;
    grid-row: span 3;
}

#one {
    grid-column: 1/2;
    grid-row: 2/3;
}

#two {
    grid-column: 2/3;
    grid-row: 3/4;
}

#three {
    grid-column: 5/6;
    grid-row: 3/4;
}

#four {
    grid-column: 6/7;
    grid-row: 2/3;
}

img{
    height: 100%;
    width: 100%;
}

.animation {
    animation: jump-shaked 0.8s;
}

@keyframes jump-shaked {
    0%{
        transform: translateY(0);
    }
    
    10%{
        transform: translateY(-45%);
    }

    40%{
        transform: translateY(-30%) rotate(20deg);
    }

    50%{
        transform: translateY(-30%) rotate(0deg);
    }

    60%{
        transform: translateY(-30%) rotate(-20deg);
    }

    70%{
        transform: translateY(-30%) rotate(0deg);
    }

    80%{
        transform: translateY(-20%) rotate(20deg);
    }

    90%{
        transform: translateY(-10%) rotate(0deg);
    }

    100%{
        transform: translateY(0%);
    }
}


/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */
