* {
    margin:0;
    padding:0;
}

body{
    background-color: rgb(230, 230, 193);
    margin-top: auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#snow{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#musique{
    position: absolute;
    inline-size: min-content;
    font-size: xxx-large;
    cursor: pointer;
}

#musique > div {
    position: absolute;
    inline-size: min-content;
    font-size: xxx-large;
}

#grille {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#popup_screen ~ #grille > .present{
    z-index: -1;
}

#popup_screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

#popup_header{
    width: 100%;
    grid-area: header;
    display:grid;
    grid-template-columns: 4fr 1fr;
    border-bottom: 1px solid gray;
}

button{
    height: 100%;
    width: 100%;
    color: gray;
    background-color:transparent;
    border: none;
    font: bold;
    cursor: pointer;
    grid-column: 2/3;
}

button:hover{
    background-color: lightgray;
    border-radius: 0 25px 0 0;
}

button:active{
    background-color: red;
    border-radius: 0 25px 0 0;
}

#popup, #popup2 {
    width: 70vw;
    height: 60vh;
    border: 1px solid;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    display: grid;
    z-index: 1;
}

#popup{
    grid-template-areas: 
    "header header header"
    ". . ."
    ". content ."
    ". content ."
    ". . . "
    ". . .";
}

#popup2{
    grid-template-areas: 
    "header header header header header"
    ". . . . ."
    "text2 text2 text2 text2 p"
    ". container container container ."
    ". container container container ."
    ". container container container .";
}

#text2{
    grid-area: text2;
    text-align: center;
}

#whatyougot{
    grid-area: p;
}

#cadeau_container{
    width: 100%;
    height: 100%;
    grid-area: container;
    display: grid;
    grid-template-areas:
    "cadeau1 . . cadeau2"
    "cadeau1 wordinmiddle . cadeau2"
    "cadeau1 . . cadeau2"
    "lgd1 . . lgd2";
    justify-content: space-around;
    align-content: start;
}

#cadeau_container_column{
    width: 100%;
    height: 100%;
    grid-area: container;
    display: grid;
    grid-template-areas:
    ". cadeau1 lgd1"
    ". wordinmiddle ."
    ". cadeau2 lgd2";
    justify-content: center;
    align-content: start;
    justify-items: center;
}

#lgd1{
    grid-area: lgd1;
    text-align: center;
}

#lgd2{
    grid-area: lgd2;
    text-align: center;
}

#cadeau_un, #cadeau_deux{
    width: 75%;
    height: 75%;
}

#word_in_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cadeau_un{
    grid-area: cadeau1;

}

#cadeau_deux{
    grid-area: cadeau2;
}

#word_in_middle{
    grid-area: wordinmiddle;
}

#popup_content{
    grid-area: content;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#submit{
    cursor: pointer;
}

.present, #sapin{
    display: flex;
    justify-content: center;
}

.present{
    cursor: pointer;
    z-index: 0;
}

#sapin {
    grid-column: 3/5;
    grid-row: span 3;
}

#one {
    grid-column: 1/2;
    grid-row: 2/3;
}

#two {
    grid-column: 2/3;
    grid-row: 3/4;
}

#three {
    grid-column: 5/6;
    grid-row: 3/4;
}

#four {
    grid-column: 6/7;
    grid-row: 2/3;
}

img{
    height: 100%;
    width: 100%;
}

.animation {
    animation: jump-shaked 0.8s;
}

.unrevealed1, .unrevealed2{
    filter : brightness(0);
}


@keyframes jump-shaked {
    0%{
        transform: translateY(0);
    }
    
    10%{
        transform: translateY(-45%);
    }

    40%{
        transform: translateY(-30%) rotate(20deg);
    }

    50%{
        transform: translateY(-30%) rotate(0deg);
    }

    60%{
        transform: translateY(-30%) rotate(-20deg);
    }

    70%{
        transform: translateY(-30%) rotate(0deg);
    }

    80%{
        transform: translateY(-20%) rotate(20deg);
    }

    90%{
        transform: translateY(-10%) rotate(0deg);
    }

    100%{
        transform: translateY(0%);
    }
}


/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */
